/* general stuff */
html {
    /*color: var(--temp-color4);*/
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(var(--temp-color5) 70px, var(--temp-color4) 70px, var(--temp-color4));

    display: flex;
    justify-content: center;
    align-items: space-evenly;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* timer */
.timer-container {
  text-align: center;
  background: var(--temp-color2);
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--temp-color1);
}

h2 {
    font-size: 22px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 190px;
  max-width: 90vw;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#countdownDisplay {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}


/* buttons on top */
header {
  height: 70px;
  width: min(446px, 100%);
  position: absolute;
  display: flex;
  align-items: center;
}

.butA {
  border-radius: 50%;
  padding: 10px;
  aspect-ratio: 1 / 1;
  
  font-size: 1.5rem;
}

.left a{
  text-decoration: none;
  color: var(--temp-color2);
  margin-top: 3px;
}

.left {
  background-color: var(--temp-color4);
  text-align: center;
  margin: auto auto;
  position: absolute;
  display: flex;
  align-items: center;
  left: 2%;
}

footer {
  height: 70px;
  width: min(446px, 100%);
  position: absolute;
  display: flex;
  align-items: center;
}

.right{ 
  color: var(--temp-color2);
  background-color: var(--temp-color4);
  text-align: center;
  margin: auto auto;
  position: absolute;
  display: flex;
  align-items: center;
  right: 2%;
}

/* images */
.image-region {
    width: 110%;
    aspect-ratio: 1 / 1;
    
    animation: pictures 100s step-start infinite;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid var(--temp-color1);
}

/* media querys*/
@media (min-width: 450px) {
    body {
        width: 450px;
        height: 100vh;
        margin: 0 auto;
        border-right: 4px solid var(--temp-color5);
        border-left: 4px solid var(--temp-color5);
    }

    html {
        background: linear-gradient(90deg, var(--temp-color5), var(--temp-color4), var(--temp-color5));
        z-index: -1;
    }

    .right {
      right: 5%;
    }

    .left {
      left: 5%;
    }
}

@keyframes pictures {
  0% {
    background-image: url(images/img1.jpg);
  }
  10% {
    background-image: url(images/img2.jpg);
  }
  20% {
    background-image: url(images/img3.jpg);
  }
  30% {
    background-image: url(images/img4.jpg);
  }
  40% {
    background-image: url(images/img5.jpg);
  }
  50% {
    background-image: url(images/img6.jpg);
  }
  60% {
    background-image: url(images/img7.jpg);
  }
  70% {
    background-image: url(images/img8.jpg);
  }
  80% {
    background-image: url(images/img9.jpg);
  }
  90% {
    background-image: url(images/img10.jpg);
  }
  100% {
    background-image: url(images/img1.jpg);
  }

}