/* overall */
html {
    /*color: var(--temp-color4);*/
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--temp-color5);
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--temp-color4);
}


/* header */
header {
    display: flex;
    height: 70px;
    background-color: var(--temp-color2);
    color: var(--temp-color4);
}

header div.header-profile {
    width: 33%;
    height: 100%;
}

header p, .header-stats1, .header-stats2{
    display: block;
    margin: 0 10px 0;
}

.header-right p {
    margin-left: 15px;
}

header i {
    display: inline;
    margin: 0;
    padding: 0;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

#header-pb {
    border-radius: 50%;
    height: 75%;
    margin-top: 7.5px;
    border: 2px solid var(--temp-color3);
    aspect-ratio: 1 / 1;
}

#header-name::after {
    content: var(--user-name);
    color: var(--temp-color4);
}

#header-level::after {
    content: var(--user-level);
    color: var(--temp-color4);
}

#species-count::before {
    content: var(--species-now);
    color: var(--temp-color4);
    display: inline;
}
#nutrients-count::before {
    content: var(--nutrients-now);
    color: var(--temp-color4);
    display: inline;
}

.header-stats1, .header-stats2 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0
}
/* center of the page */
.app-region {
    top: 70px;
    bottom: 50px;
    position: absolute;
    width: min(442px, 100%);
    margin-left: -2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.one {
    display: flex;
    justify-content: space-evenly;
    height: calc((100vh - 120px)/5);
    overflow: hidden;
}

.one div {
    width: 45%;
    background-color: var(--temp-color1);
    text-align: center;
}

.one .push {
    height: 20%;
    width: 100%;
}

.one-left p::after {
    counter-reset: minutes;
    counter-reset: hours round(down, var(--time-focussed)/60);
    counter-increment: minutes mod(var(--time-focussed), 60);
    content: " " counter(hours) "h " counter(minutes) "min";
    color: var(--temp-color5);
}

.one-right p::after {
    counter-reset: max-minutes;
    counter-reset: max-hours round(down, var(--longest-session)/60);
    counter-increment: max-minutes mod(var(--longest-session), 60);
    content: " " counter(max-hours) "h " counter(max-minutes) "min";
    color: var(--temp-color5);
}


.fa-clock {
    font-size: 500%;
    position: sticky;
    margin-top: -25%;
    margin-left: 74%;
    opacity: 0.6;
}


.row-two {
    width: 92%;
    height: calc((100vh - 120px)/5);
    background-color: var(--temp-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#eco-health {
    margin-top: 0;
}

#eco-health-bar {
    width: 95%;
    height: 25%;
    border: 2px solid var(--temp-color5);
}

#eco-health-bar-inside {
    height: 100%;
    background-color: var(--temp-color3);
    width: calc(var(--health)*1%);
}

#eco-health::after { /*yes, the greater/lesser symbols work, shut up*/
    content: if(
        style(--health < 40): "BAD";
        style(--health > 75): "THRIVING";
        else: "DOING FINE");
    font-size: 1rem;
    color: if(
        style(--health < 40): red;
        style(--health > 75): green;
        else: orange);
    background-color: var(--temp-color4);
    padding: 0 3px;
}

#eco-health-bar-inside::after { /*yes, the greater/lesser symbols work, shut up*/
    counter-reset: healthy;
    counter-increment: healthy var(--health);
    content: counter(healthy) "%";
    font-size: 1rem;
    color: if(
        style(--health < 40): red;
        style(--health > 75): green;
        else: orange);
    background-color: var(--temp-color4);
    left: 85%;
    top: 38.5%;
    position: absolute;
}

.row-three  {
    width: 93%;
    height: calc((100vh - 120px)/5);
    background-color: var(--temp-color1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sevendays {
    height: 90%;
}

.four {
    display: flex;
    justify-content: space-evenly;
    height: calc((100vh - 120px)/5);
}

.four div {
    width: 29%;
    background-color: var(--temp-color1);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four i {
    color: var(--temp-color5);
    display: inline;
}

#sessions::after {
    content: var(--amount-sessions);
}

#nuts::after {
    content: var(--nutrients-total);
}

#specs::after {
    content: var(--species-total);
}


/* footer */
footer {
    background-color: var(--temp-color2);
    height: 50px;
    position: fixed;
    bottom: 0;
    width: min(446px, 100%);
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: var(--temp-color4);
    text-decoration: none;
    font-weight: bold;
}

#hp-link{
    font-size: 1.35rem;
}

.vl {
    display: inline-block;
    width: 0.2rem;
    top: 10px;
    position: relative;
    height: 30px;
    background-color: var(--temp-color1);
}

/* media querys*/
@media (min-width: 450px) {
    body {
        width: 450px;
        height: 100vh;
        margin: 0 auto;
        border-right: 4px solid var(--temp-color2);
        border-left: 4px solid var(--temp-color2);
        background-color: var(--temp-color4);
    }

    html {
        background: linear-gradient(90deg, var(--temp-color5), var(--temp-color4), var(--temp-color5));
        z-index: -1;
    }

    .fa-clock {
        font-size: 600%;
        position: sticky;
        margin: -50% 73%
    }

    .one div {
        width: 47.5%;
    }   

    .one {
        justify-content: space-between;
    }
}