<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>&#181;Hub - Impressum</title>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/corporatedesign.css') }}"/>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/impress.css') }}"/>
    </head>
    <body>
        <header>
        </header>
        <main>
            <h1>Impressum</h1>
            <p>Emma Filthaut<br />
            Garather Weg 56<br />
            40789 Monheim am Rhein</p>
            <h2>Kontakt</h2>
            <p>Telefax: +49 2173 94312<br />
            E-Mail: kontakt-mhub@m2ef.com</p>

            <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
        </main>
        <footer></footer>
    </body>
</html>