<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>&#181;Hub - Profile</title>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/corporatedesign.css') }}"/>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/impress.css') }}"/>
    </head>
    <body>
        <header></header>
        <main style="width: 40%;">
            <h1>HI</h1>
            <p>Nice of you to join me. Unfortunately this just an uni project, 
                so I am not actually able to do this kinda things, so there are 
                no separate accounts. Or included music, nevertheless having the proper
                licensing for that. Why did we even code all of this (WITHOUT 
                AI, might I add)? Well other people who won prizes with their
                hypothetical projects actually only got a 3.0. So yeah.
                Keeping your grades up makes you a bit crazy.</p>

            <a href="../" style="font-size: 1.5rem;">Hey, don't leave me again :(</a>
        </main>
        <footer></footer>
    </body>
</html>