/* "variables" */
:root {
    --nutrients-now: "2304";
    --nutrients-total: "8327";
    --user-level: "7";
    --species-now: "5";
    --species-total: "9";
    --user-name: "Emma";
    --time-focussed: 320;
    --longest-session: 80;
    --health: 76;
    --amount-sessions: "7";
}